/* Body Styles */


/* Background Styles */
.backgrounds {
  height: 100vh;
  background-size: cover;
  background-position: center;

}

.spacefo2 {
  padding-top: 100px;
}

/* Cart Page Styles */
.cart-page {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  backdrop-filter: blur(80px);
  overflow: auto;
  color: #212020;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

/* Cart Page Header Styles */
.cart-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.cart-header-text {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #e3437b;
}

/* Cart Page Table Styles */
.cart-page-table {
  overflow-x: auto;
}

.cart-table-product {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-table-header th {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid #706f6f;
  color: #545252;
}

.cart-table-img {
  width: 100px;
}

.cart-table-payment,
.cart-table-size {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #706f6f;
  color: #2e2d2d;
}

.cart-table-content td {
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #706f6f;
}

.cart-table-image-info img {
  display: block;
  width: 100%;
  height: auto;
}

.bold-text {
  font-weight: bold;
  color: #282828;
}

.right-text-mobile {
  text-align: right;
  color: #353535;
}

/* Cart Table Bill Styles */
.cart-table-bill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bill-sub,
.bill-total {
  align-items: end;
  font-size: 18px;
  color: #393838;
}

.bill-total {
  align-items: end;
  color: #672bac;
}

/* Cart Header Footer Styles */
.cart-header-footer {
  display: flex;
  justify-content: flex-end;
}

.cart-header-cta {
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #672bac;
  border: none;
  cursor: pointer;
}

/* Cart Table Animation Styles */
.cart-table-content:hover {
  background-color: transparent;
}

.cart-table-image-info img {
  transition: transform 0.3s ease-in-out;
}

.cart-table-image-info img:hover {
  transform: scale(1.1);
}