/* 


.fieldHeader {
  color: aliceblue;
  position: relative;
  display: flex;
}

.content {
  text-align: center;
  padding: 60px 32px;
  width: 420px;
}

.content header {
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat', sans-serif;
}

.field {
  height: 45px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
}

.field span {
  color: #222;
  width: 50px;
  margin-top: 5px;
  line-height: 45px;
}



.field input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.space {
  margin-top: 16px;
}

.show {
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.field input[type="submit"] {
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  border: 0px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.field input[type="submit"]:hover {
  background: -webkit-linear-gradient(right, #a445b2, #fa4299);
}

.login {
  color: white;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
}

.signup {
  font-size: 15px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.signup a {
  color: #a445b2;
  text-decoration: none;
}

.signup a:hover {
  color: #fa4299;
  text-decoration: underline;
} */
.content {
 
  margin: 20px;
  border-radius: 10px;
  background-color: #fdf6f6;
  
  backdrop-filter: blur(80px);
  color: #212020;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);


}