@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-bg-color: #e5ecef;
    --theme-bg-color: #fafafb;
    --body-font: "Poppins", sans-serif;
    --body-color: #121212;
    --active-color: #0162ff;
    --active-light-color: #e1ebfb;
    --header-bg-color: #fff;
    --search-border-color: #efefef;
    --border-color: #d8d8d8;
    --alert-bg-color: #e8f2ff;
    --subtitle-color: #83838e;
    --inactive-color: #f0f0f0;
    --placeholder-color: #9b9ba5;
    --time-button: #fc5757;
    --level-button: #5052d5;
    --button-color: #fff;
   }

   
body {
    background-image: linear-gradient(to top, #e2acee 0%, #e7f0fd 100%),
	linear-gradient(
		90deg,
		#c7a0f4,
		transparent
	),
	linear-gradient(
		-90deg,
		#672bac,
		transparent
	);
	;
    font-family: var(--body-font);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
   }
  